.carousel-wrapper {
    position: relative;
}

.carousel {
    display: flex;
    gap: 8px;
    padding: 16px;
    margin: initial;
    max-width: initial;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.item {
    flex-shrink: 0;
    width: 100%;
    height: 90vh;
    scroll-snap-align: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
  
.button {
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 3rem;
    transform: translateY(-50%);
}

.button--previous {
    left: 1.5rem;
    transform: rotate(180deg);
}

.button--next {
    right: 1.5rem;
}

@media (pointer:coarse) {
    .carousel button {
        display: none;
    }
}